/* General settings */
* {
    margin: 0;
    padding: 0;
    size: 0;
}


/* Homepage CCS code */
/* Upper side of homepage */
.home_upper {
    display: flex;
    height: 40.5vh;
}
.home_uppercrap {
    margin-left: 35vw;
    text-align: center;
    margin-top: 5vh;
}
.home_uppercrap {
    font-size: 40px;
}
.home_uppercrap p {
    margin-top: 3vh;
}
/* Lower side of homepage */
.home_lower {
    height: 40.5vh;
    display: flex;
    background-color: #DF0000;
    color: white;
}
.home_lowercrap {
    margin-left: 5vw;
    text-align: center;
    margin-top: 3vh;
    max-width: 60vw;
    font-size: 20px;
}
.home_lowercrap p {
    margin-top: 3vh;
}
.home_links {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin-top: 2vh;
    width: 13vw;
    margin-left: 23vw;
}
/* Home Images CSS */
#home_IMGlogo {
    position: absolute;
    width: 25vw;
    background-color: white;
    border: 1px solid #DF0000;
    border-radius: 50px;
    margin-left: 5vw;
    margin-top: 10vh;
    z-index: 2;
}
#home_IMGproduct {
    position: absolute;
    width: 25vw;
    background-color: white;
    border: 1px solid #DF0000;
    border-radius: 50px;
    margin-left: 67vw;
    margin-top: 2.3vh;
}


/* Overbedrijf tussen pagina CSS */
.overbedrijf_main {
    max-height: 100vh;
}
#overbedrijf_header {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 3vh;
    text-decoration: underline;
}
.overons_list {
    display: flex;
    width: 100vw;
    justify-content: center;
    text-align: center;
    align-items: center;

    margin-top: 10px;

    font-size: 25px;
    height: 71.5vh;
}
.overons_list a {
    font-weight: bold;
    color: white;
    background-color: #DF0000;
    padding: 2px;
    border-radius: 5px;
}
.overons_list p {
    margin-bottom: 10vh;
    margin-top: 1vh;
}


/* Eco vriendelijkheid */
#eco_header {
    display: flex;
    width: 100vw;
    height: 25vh;
    background-image: url("./IMAGES/treees.jpg");
}
#eco_h1 {
    color: white;
    text-decoration: underline;
    width: 100vw;
    height: 25vh;
    margin-left: 100vh;
}

/* Medewerkers CSS */
#container {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    margin-top: 610px;
    height: 35px;
    background: #fff;
}