/* General settings */
* {
    margin: 0;
    padding: 0;
    size: 0;
}


/* Homepage CCS code */
/* Upper side of homepage */
.home_upper {
    display: flex;
    height: 40.5vh;
}
.home_uppercrap {
    margin-left: 35vw;
    text-align: center;
    margin-top: 5vh;
}
.home_uppercrap {
    font-size: 40px;
}
.home_uppercrap p {
    margin-top: 3vh;
}
/* Lower side of homepage */
.home_lower {
    height: 40.5vh;
    display: flex;
    background-color: #DF0000;
    color: white;
}
.home_lowercrap {
    margin-left: 5vw;
    text-align: center;
    margin-top: 3vh;
    max-width: 60vw;
    font-size: 20px;
}
.home_lowercrap p {
    margin-top: 3vh;
}
.home_links {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin-top: 2vh;
    width: 13vw;
    margin-left: 23vw;
}
/* Home Images CSS */
#home_IMGlogo {
    position: absolute;
    width: 25vw;
    background-color: white;
    border: 1px solid #DF0000;
    border-radius: 50px;
    margin-left: 5vw;
    margin-top: 10vh;
    z-index: 2;
}
#home_IMGproduct {
    position: absolute;
    width: 25vw;
    background-color: white;
    border: 1px solid #DF0000;
    border-radius: 50px;
    margin-left: 67vw;
    margin-top: 2.3vh;
}


/* Overbedrijf tussen pagina CSS */
#overons_main {
    min-height: 75.8vh;
}
#overbedrijf_header {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 5vh;
    text-decoration: underline;
}
.overons_list {
    display: flex;
    width: 100vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 25px;
}
.overons_list a {
    font-weight: bold;
    color: white;
    background-color: #DF0000;
    padding: 2px;
    border-radius: 5px;
}
.overons_list p {
    margin-top: 1vh;
    margin-bottom: 5vh;
}


/* Eco vriendelijkheid */
#eco_main {
    min-height: 0;
}
#eco_header {
    display: flex;
    width: 100vw;
    height: 35vh;
    background-image: url("./IMAGES/treees.jpg");
    border-bottom: solid 5px #DD4040;
}
#eco_h1 {
    display: flex;
    color: white;
    font-style: italic;
    width: 100vw;
    height: 25vh;
    justify-content: center;
    margin-top: 12vh;
}
#eco_h2 {
    display: flex;
    width: 100vw;
    height: 5vh;
    text-align: center;
    margin-top: 1vh;
    justify-content: center;
    font-size: 35px;
}
#eco_betterway {
    display: flex;
    width: 45vw;
    height: 36.2vh;
    margin-left: 7vw;
    margin-top: 3vh;
    font-size: 19px;
}
#eco_IMGbetterway {
    display: flex;
    position: absolute;
    height: 20vh;
    margin-left: 60vw;
    margin-top: 3vh;
}

/* Medewerkers CSS */
#container {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    height: 20px;
    margin-top: 300px;
    background: #fff;
}

.Medewerker_h1{
display: flex;
width: 90vw;
justify-content: center;
margin-top: 7vw;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}
#amin{
   display: absolute;
   height: 50%;
   width: 30%;
   margin-left: 35px;
   margin-right: 4px;
   margin-top: 200px;
}
#jack{
    Display: absolute;
    align-items: center;
    height: 50%;
    width: 30%;
    margin-left: 20px;
    margin-top: 200px;
}

#dylan{
    Display: absolute;
    align-items: center;
    height: 50%;
    width: 30%;
    margin-left: 20px;
    margin-top: 250px;

}