/* General settings */
* {
    margin: 0;
    padding: 0;
    size: 0;
}

/* Homepage CCS code */
/* Upper side of homepage */
.home_upper {
    display: flex;
    height: 40.5vh;
}
.home_uppercrap {
    margin-left: 35vw;
    text-align: center;
    margin-top: 5vh;
}
.home_uppercrap {
    font-size: 40px;
}
.home_uppercrap p {
    margin-top: 3vh;
}
/* Lower side of homepage */
.home_lower {
    height: 40.5vh;
    display: flex;
    background-color: #DF0000;
    color: white;
}
.home_lowercrap {
    margin-left: 5vw;
    text-align: center;
    margin-top: 3vh;
    max-width: 60vw;
    font-size: 20px;
}
.home_lowercrap p {
    margin-top: 3vh;
}
.home_links {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin-top: 2vh;
    width: 13vw;
    margin-left: 23vw;
}
/* Home Images CSS */
#home_IMGlogo {
    position: absolute;
    width: 25vw;
    background-color: white;
    border: 1px solid #DF0000;
    border-radius: 50px;
    margin-left: 5vw;
    margin-top: 10vh;
    z-index: 2;
}
#home_IMGproduct {
    position: absolute;
    width: 25vw;
    background-color: white;
    border: 1px solid #DF0000;
    border-radius: 50px;
    margin-left: 67vw;
    margin-top: 2.3vh;
}


/* Overbedrijf tussen pagina CSS */
#overons_main {
    min-height: 75.8vh;
}
#overbedrijf_header {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 5vh;
    text-decoration: underline;
}
.overons_list {
    display: flex;
    width: 100vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 25px;
}
.overons_list a {
    font-weight: bold;
    color: white;
    background-color: #DF0000;
    padding: 2px;
    border-radius: 5px;
}
.overons_list p {
    margin-top: 1vh;
    margin-bottom: 5vh;
}


/* Eco vriendelijkheid */
#eco_main {
    min-height: 0;
}
#eco_header {
    display: flex;
    width: 100vw;
    height: 35vh;
    background-image: url("./IMAGES/treees.jpg");
    border-bottom: solid 5px #DD4040;
}
#eco_h1 {
    display: flex;
    color: white;
    font-style: italic;
    width: 100vw;
    height: 25vh;
    justify-content: center;
    margin-top: 12vh;
}
#eco_h2 {
    display: flex;
    width: 100vw;
    height: 5vh;
    text-align: center;
    margin-top: 1vh;
    justify-content: center;
    font-size: 35px;
}
#eco_betterway {
    display: flex;
    width: 45vw;
    height: 36.2vh;
    margin-left: 7vw;
    margin-top: 3vh;
    font-size: 19px;
}
#eco_IMGbetterway {
    display: flex;
    position: absolute;
    height: 20vh;
    margin-left: 60vw;
    margin-top: 3vh;
}

/* Medewerkers CSS */
#container {
    padding: 10px 10px 0px 10px;
    bottom: 0;
    height: 20px;
    margin-top: 300px;
    background: #fff;
}

.Medewerker_h1{
display: flex;
width: 90vw;
justify-content: center;
margin-top: 7vw;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}
#amin{
   display: absolute;
   height: 50%;
   width: 30%;
   margin-left: 35px;
   margin-right: 4px;
   margin-top: 200px;
}
#jack{
    Display: absolute;
    align-items: center;
    height: 50%;
    width: 30%;
    margin-left: 20px;
    margin-top: 200px;
}

#dylan{
    Display: absolute;
    align-items: center;
    height: 50%;
    width: 30%;
    margin-left: 20px;
    margin-top: 250px;

}
/* Klachten tussen pagina CSS */
#klachtpage_main {
    min-height: 75.8vh;
}
#klachtpage_header {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;

    text-decoration: underline;
}
#klachtpage_list {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#klachtpage_list a {
    font-weight: bold;
    color: white;
    background-color: #DF0000;
    padding: 2px;
    border-radius: 5px;
    font-size: 40px;
}
#klachtpage_list li {
    margin-bottom: 5vh;
}

/*Retour policy codes*/

#RP_main {
    margin-top: 20px;
    width:100vw;
}

.RP_header{
    margin-left:30px;
    display:flex;
    flex-direction: row;
}
.RPheader_1{
    margin-right:40px;
    background-color: white;
}
.RPheader_2{
    background-color: gray;
    margin-left:40px;
}

.RP_section1 {
    color: rgb(0, 0, 0)0, 56, 56;
    display:flex;
    margin:30px;
    justify-content: space-between;    
}

.RP-row_1{
    color: rgb(0, 0, 0);
    display:flex;
    margin:30px;
    margin-bottom:5%;
    justify-content: space-between;
    border-top: 1px solid rgb(207, 203, 202);
}
.RPdropdown_1 {
    position: relative;
    display: inline-block;
    cursor: inherit;
    transform: rotate(90deg);
    transition: transform 0.25s ease-in-out 0s
}
.RPdropdown_1-content {
    display: block;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .RPdropdown_2 {
    position: relative;
    display: inline-block;
}
.RPdropdown_2-content {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .RPdropdown_3 {
    position: relative;
    display: inline-block;
}
.RPdropdown_3-content {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  
.RP-row_2{
    color: rgb(0, 0, 0);
    display:flex;
    margin:30px;
    margin-bottom:5%;
    justify-content: space-between;
    border-top: 1px solid rgb(207, 203, 202);
}
.RPdropdown_4 {
position: relative;
display: inline-block;
}
.RPdropdown_4-content {
display: none;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.RPdropdown_5 {
position: relative;
display: inline-block;
}
.RPdropdown_5-content {
display: none;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.RPdropdown_6 {
position: relative;
display: inline-block;
}
.RPdropdown_6-content {
display: none;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.RP-row_3{
    color: rgb(0, 0, 0);
    display:flex;
    margin:30px;
    margin-bottom:5%;
    justify-content: space-between;
    border-top: 1px solid rgb(207, 203, 202);
}
.RPdropdown_7 {
position: relative;
display: inline-block;
}
.RPdropdown_7-content {
display: none;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.RPdropdown_8 {
position: relative;
display: inline-block;
}
.RPdropdown_8-content {
display: none;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.RPdropdown_9 {
position: relative;
display: inline-block;
}
.RPdropdown_9-content {
display: none;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.RP-row_4{
    color: rgb(0, 0, 0);
    display:flex;
    margin:30px;
    margin-bottom:5%;
    justify-content: space-between;
    border-top: 1px solid rgb(207, 203, 202);
    
}
.RPdropdown_10 {
position: relative;
display: inline-block;
}
.RPdropdown_10-content {
display: none;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.RPdropdown_11 {
position: relative;
display: inline-block;
}
.RPdropdown_11-content {
display: none;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.RPdropdown_12 {
position: relative;
display: inline-block;
}
.RPdropdown_12-content {
display: none;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

/* Geschiedenis en doelstellingen van bedrijf */
#Blue{
    height:50px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

#History_1{
    margin-left: 80px;

}
/* Product klachten CSS code */
.productklacht_form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 37.5%;
    text-align: center;
}
.productklacht_header {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#productklacht_submit {
    background-color: #DD4040;
    color: white;
    height: 2rem;
    font-size: 1.5rem;
    width: 50%;
    margin-left: 25%;
    border: black solid 2px;
}
.productklacht_text {
    height: 4rem;
}
.productklacht_gender {
    display: flex;
    flex-direction: row;
}

#productklacht_action {
    border: black 1px solid;
}
#productklacht_action tr {

}
